<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">{{ title }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BOARD 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BOARD 3</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
        <nav class="navbar navbar-light bg-light justify-content-between">
          <a class="navbar-brand text-info"><h3>Weather Service</h3></a>
          <form class="form-inline">
              <label for="formAddCity" class="font-weight-bold text-info">Add City: </label>
              <select class="form-control border border-info bg-light" id="formAddCity">
                <option disabled value="">...</option>
                <option *ngFor="let city of cities; let i = index" value="" class="text-capitalize">{{city.city}}</option>
              </select>
          </form>
        </nav>
    </div>
  </div>

  <div class="row d-flex align-items-center" style="height: 500px">
    <div class="col" *ngFor="let userCity of userCities; let i = index">
      <div class="card border border-seccondary" >
        <div class="card-header d-flex justify-content-between text-secondary text-capitalize">
          <h4>{{ userCity.city }},{{ userCity.region }}</h4>
          <button class="btn btn-danger btn-sm" type="submit">DEL</button>
        </div>
        <div class="card-body">
          <h5 class="text-muted">{{ userCity.text }}</h5>
          <h6 class="font-weight-light">High: {{ userCity.high }}, Low: {{ userCity.low }} </h6>
          <h1>{{ userCity.temp }}°</h1>
        </div>
        <div class="card-footer">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Low</th>
                <th scope="col">High</th>
                <th scope="col">Text</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ userCity.day }}</td>
                <td>{{ userCity.low }}</td>
                <td>{{ userCity.high }}</td>
                <td>{{ userCity.text }}</td>
              </tr>
              <tr>
                <td>{{ userCity.day }}</td>
                <td>{{ userCity.low }}</td>
                <td>{{ userCity.high }}</td>
                <td>{{ userCity.text }}</td>
              </tr>
              <tr>
                <td>{{ userCity.day }}</td>
                <td>{{ userCity.low }}</td>
                <td>{{ userCity.high }}</td>
                <td>{{ userCity.text }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>

</div>
  